

﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    @*<link href="~/css/main.css" rel="stylesheet" />*@
    @RenderSection("Styles", false)
</head>
<body>

<section class="container">
        @RenderBody()
    </section>


    @RenderSection("Scripts", false)

</body>
</html>

